main {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(100px);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header__title {
    margin: 0;
}

.header__link {
    padding: 10px 10px;
}

.danger-button {
    --primary: #ff0000;
}