<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>storagePath</param-name>
        <param-value>C:\Users\DELL\Pictures\crap</param-value>
    </context-param>
    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BlockJSP</filter-name>
        <filter-class>filter.BlockJSP</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BlockJSP</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/profile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/files</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/search</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>File</servlet-name>
        <servlet-class>controller.FileController</servlet-class>
        <multipart-config>
            <location>C:\Users\DELL\Pictures\crap\temp</location>
            <max-file-size>1073741824</max-file-size>
            <max-request-size>1073741824</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>SharedViewController</servlet-name>
        <servlet-class>controller.SharedViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadController</servlet-name>
        <servlet-class>controller.DownloadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>File</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SharedViewController</servlet-name>
        <url-pattern>/shared</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>
